.button{
  padding: 0;
  border-radius: 8px;
  background: $primary;
  border: 0;
  transition: .2s linear;

  @media (max-width:757px){
    width: 100%;
  }
  

  a{
    font-family: "Noto Sans", sans-serif;
    display: block;
    color:$white;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover{
    background-color: $black;
  }
}


.button__white{
  padding: 0;
  border-radius: 8px;
  background: $white;
  border: 0;
  transition: .2s linear;

  @media (max-width:757px){
    width: 100%;
  }
  

  a{
    font-family: "Noto Sans", sans-serif;
    display: block;
    text-align: center;
    color:$black;
    padding: 16px 56px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    @media (max-width:757px){
      width: 100%;
    }
  }

  &:hover{
    background-color: $lightgrey;
  }
}



