@import 'vars';
@import 'fonts';
@import 'container';
@import 'button';

// блоки
@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/cta';


*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: $white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $black;
}

a{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Noto Serif", sans-serif;
    font-weight: 700;
}

h1{
    font-size: 64px;
    line-height: 72px;
}

h2{
    font-size: 56px;
    line-height: 64px;
}
