@import 'vars';
@import 'fonts';
@import 'container';
@import 'button';
@import 'mixins';

// блоки
@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/cta';
@import 'blocks/section';
@import 'blocks/products';
@import 'blocks/materials';
@import 'blocks/about';
@import 'blocks/steps';
@import 'blocks/funfacts';
@import 'blocks/complex';
@import 'blocks/contacts';
@import 'blocks/footer';


*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: $white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $black;
}

a{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Noto Serif", sans-serif;
    font-weight: 700;
}

h1{
    font-size: 64px;
    line-height: 72px;

    @include breakpoint($mobile-bp){
        font-size: 32px;
        line-height: 40px;
      }
}

h2{
    font-size: 56px;
    line-height: 64px;
}

.title{
    margin-bottom: 56px;

    &--math{
        margin-bottom: 48px;
    }

    &--24{
        margin-bottom: 24px;
    }
}
