.banner{
  background: url(../images/parallax/Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  overflow: hidden;
  position: relative;

  @include breakpoint($tablet-bp){
    background-position: bottom;
  }

  @include breakpoint($mobile-bp){
    background: url(../images/mob-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.layer__header{
  margin-top: 96px;
  display: flex;
  justify-content: center;

  @include breakpoint($mobile-bp){
    margin-top: 48px;
  }

  h1{ 
    text-align: center;
    margin-bottom: 48px;

    @include breakpoint($mobile-bp){
      margin-bottom: 32px;
    }
  }

  button{
    display: flex;
    margin: 0 auto;
  }

  
}



.layers__caption{
  z-index: 10;
}

.layers{
  z-index: 20;

  @include breakpoint($tablet-bp){
    margin-bottom: 700px;
  }


  @include breakpoint($mobile-bp){
    margin-bottom: 340px;
  }
}

.layer__header {
  position: relative;
  z-index: 19;
  transition:  1.5s ease;



}

.layer__header.hidden {
  transform: translateY(-100%);
  opacity: 0;
} 

.layer__img{

  z-index: 2;
  height:80vh;

  @include breakpoint ($desktop-bp){
    height: 70vh;
  }

  @include breakpoint ($desktop2-bp){
    height: 52vh;
  }


  @include breakpoint ($notebook-bp){
    height: 50vh;
  }

  @media (max-width:1140px){
    height: 41vh;
  }



  @include breakpoint($tablet-bp){
    height: auto;
  }


}



.machine{
  background-image: url(../images/parallax/Sewing-machine.png);
  background-size:100% auto;

  background-repeat: no-repeat;
  background-position:0 280px;
  height: 100%;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(0 4px 4px #22222271);
  z-index: 2;
  transition: background-position 1s ease; /* Добавляем плавную анимацию изменения background-position */

  @include breakpoint($tablet-bp){
    bottom: -200px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 876px){
    bottom: -385px;
  }

  @include breakpoint ($mobile-bp){
    bottom: -210px;
  }

}


.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  pointer-events: none;
  opacity: 0;
  transition: .4s linear;
}




.thread{
  position: absolute;
  width: 500px;
  max-width: 100%;
  z-index: 10;
  right: 60%;
  bottom: -120px;
  transform: translateY(100px);
  transition: opacity 0.4s, transform 1.5s;

  @include breakpoint($desktop-bp){
    width: 350px;
    bottom: -60px;
  }

  @include breakpoint($notebook-bp){
    width: 400px;
    bottom: -60px;
  }

  @include breakpoint($tablet-bp){
    width: 300px;
    bottom: -60px;
  }

  @include breakpoint($mobile-bp){
    width: 100px;
    bottom: -60px;

  }
}

.thread::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  pointer-events: none;
  z-index: -1;
}


