.banner{
  background: url(/assets/images/parallax/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.layer__header{
  margin-top: 96px;
  display: flex;
  justify-content: center;

  h1{
    text-align: center;
    margin-bottom: 48px;
  }

  button{
    display: flex;
    margin: 0 auto;
  }

  z-index: 4;
}

.layer__img{
  position: relative;

  z-index: 2;
  height: 100vh;
}

.machine{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 1480px;
  max-width: 100%;
  

}

.thread{
  width: 541px;
  max-width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
}