.cta__footer{
  border-radius: 40px 40px 0 0;
  padding: 72px 0;

  @include breakpoint($tablet-bp){
    padding: 40px 0;
   
        }
}


footer{
  background: $black;
  padding: 40px 0;
  color:$white;

  @include breakpoint($mobile-bp){
    padding: 32px 0;
   
        }
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include breakpoint($tablet-bp){
    flex-direction: column;
   
        }

        @include breakpoint ($mobile-bp){
          margin-bottom: 24px;
        }
}

.footer__left{
  display:flex;
  align-items: center;

  @include breakpoint($tablet-bp){
    flex-direction: column;
   
        }
}

.logo__footer{
  margin-right: 154px;

  @include breakpoint($tablet-bp){
    margin-right: 0;
    margin-bottom: 24px;
    
    img{
      width: 136px;
    }
   
        }
        
}

.footer__menu{

 

  @include breakpoint($tablet-bp){
 
    margin-bottom: 24px;
   
        }

  ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include breakpoint($mobile-bp){
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    li{
      @include breakpoint($mobile-bp){
        text-align: center;
      }
      padding: 0;

      a{
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color:$white;
        transition: .2s linear;

        
        @include breakpoint ($mobile-bp){
          font-size: 14px;
          line-height: 24px;
         }

        &:hover{
          opacity: .8;
        }
      }
    }
  }
}


.social{

  a{
    margin-right: 24px;
    text-decoration: none;

    @include breakpoint ($mobile-bp){
      margin-right: 16px;

      img{
        max-width: 40px;
      }
     }

    &:last-child{
      margin-right: 0;
    }
  }
}

.footer__copy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 24px;

  @include breakpoint ($mobile-bp){
    flex-direction: column;
  }
}

.copy__left{

  @include breakpoint ($mobile-bp){
    display: flex;
    flex-direction: column;
  }
  a{
    text-decoration: none;
    color:$white;
    margin-right: 24px;
    transition: .2s linear;

    @include breakpoint ($mobile-bp){
      margin-right: 0;
      text-align: center;
      margin-bottom: 8px;
    }

    &:hover{
      opacity: .8;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}


// back-to-top
.button-top {
  background: url(/assets/images/arrow-up.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 800;

  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: .2s linear;

}

.button-top:hover {
  opacity: .7;
}


