.site__header{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  align-items: center;
  position: relative;
  z-index: 20;
  
}

.logo{
  width: 100%;
  max-width: 157px;

  @include breakpoint($mobile-bp){
    max-width: 73px;
  }
}

.menu{
  display: flex;
  align-items: center;
  
}

.nav {

  margin-right: 70px;

  @include breakpoint($notebook-bp){
    margin-right: 0;
  }

  @include breakpoint($tablet-bp){
    display: none;
  }

  ul{
    display: flex;
    list-style-type: none;
    align-items: center;

    li{
      margin-right: 34px;

      &:last-child{
        margin-right: 0;
      }

      a{
        color:$black;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        transition: .2s linear;

        &:hover{
         color:$primary;
        }
      }
    }
  }
}

.call__tel{
  color:$black;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: .2s linear;

  &:hover{
    color:$primary;
  }

  @include breakpoint($notebook-bp){
    display: none;
  }
}


// бургер меню

.header__nav{
  display: none;

  @include breakpoint($tablet-bp){
    display: block;
  }
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:602;
	overflow: hidden;
  cursor:pointer;
}

.menu-btn .bar {
  
	width: 25px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
  border-radius: 4px;
	transform: translate(-50%, -50%);
	background-color: $black;
	transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
	top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
	top: calc(50% + 9px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active__burger .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active__burger .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active__burger .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.mobile__nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 55%;
	height: auto;
	padding: 15px;
  background: $white;
	transform: translateX(100%);
	transition: transform 0.5s; 
  z-index: 600px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 2px 12px rgba(0,0,0, .2);
}

.mobile__nav.active__burger {
	transform: translateX(0);
}

.mobile__nav .nav__list_item {
	list-style-type: none;
}

.nav__list{
  
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

    list-style-type: none;

    li{
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }
      a{

        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        color:$black;
      }
    }

}


.callback__mobile{
display: none;

@include breakpoint($tablet-bp){
  display: block;
  margin-top: 20px;

  a{
    font-size: 18px !important;
    color:$black;
    text-decoration: none;
    font-weight: 700;

    @include breakpoint($mobile-bp){
      font-size: 16px !important;
    }
  }
}
}