.site__header{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  align-items: center;
  
}

.logo{
  width: 157px;
  max-width: 100%;
}

.menu{
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav {

  ul{
    display: flex;
    list-style-type: none;
    align-items: center;

    li{
      margin-right: 34px;

      &:last-child{
        margin-right: 0;
      }

      a{
        color:$black;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.call__tel{
  color:$black;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}