.materials__block{
  background-color: #080808;
  padding: 140px 0;
}


.materials__names{
  ul{
    li{
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      @include breakpoint($mobile-bp){
        margin-bottom: 15px;
       }

      &:last-child{
        margin-bottom: 0;
      }

      svg{
        width: 40px;
        padding:8px;
        border:2px solid $black;
        border-radius: 50%;
        transition: transform 0.5s, fill 0.5s;

        @include breakpoint($mobile-bp){
        width: 32px;
        }

        &:hover{
          cursor: pointer;
        }
      }

      h4{
        color:$black;
        margin-left: 24px;
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;

        @include breakpoint($mobile-bp){
          font-size: 18px;
          
          margin-left: 16px;
         }
      }
    }
  }
}



.materials__names ul li svg {
  transition: transform 0.3s, background-color 0.3s;
}

.math__active svg{
  background-color: black;
  transform: rotate(45deg);
}

.math__active path{
  fill: white;
}

.materials__names ul li svg.active {
  background-color: black;
  transform: rotate(45deg);
}

.materials__names ul li svg.active path {
  fill: white;
}

.materials {
  display: flex;

  justify-content: space-between;
  color:$black;
}

.materials__item{
  display: flex;

  @include breakpoint($tablet-bp){
   flex-direction: column;     
  }
}



.materials__photo{
  margin:0 153px;

  @include breakpoint($tablet-bp){
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
   }

  img{
    border-radius: 50%;
    width: 100%;
    height: auto;



    @include breakpoint($tablet-bp){
    width: 206px;
   }
  }
}

.materials__slide{
  max-width: 491px;
  width: 100%;
  h4{
    font-size: 18px;
    margin-bottom: 8px;

    @include breakpoint($mobile-bp){
     font-size: 12px;  
     line-height: 16px;
     margin-bottom: 4px; 
    }
  }

  @include breakpoint($tablet-bp){
    display: flex;
    flex-direction: column-reverse;
        max-width: 100%;
        margin-bottom: 24px;
  }

  p{

    @include breakpoint($mobile-bp){
     font-size: 12px;
     line-height: 16px;   
    }
  }
}

.slide__descr{
  @include breakpoint($tablet-bp){
   margin-bottom: 16px;     
  }
}

.materials__descr{
  padding: 32px 0 40px;

  @include breakpoint($tablet-bp){
  padding: 0;
  margin-bottom: 8px;
  }
}

.img__thumb{
  width: 313px;
  height: 214px;
  object-fit: cover;
  border-radius: 8px;

  @include breakpoint($tablet-bp){
    
    height: 300px;
    width: 100%;
  }

  @include breakpoint($mobile-bp){
    
    height: auto;
    width: 100%;
  }
}

.materials__carousel{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($tablet-bp){
    flex-direction: column;
  }
}

.img__nav{


  @include breakpoint($tablet-bp){
    width: 100%;
    margin-bottom: 20px;
  }
}

.nav__arrows{
 
  img{
    margin-right: 40px;
    cursor: pointer;

    &:last-child{
      margin-right: 0;
    }
  }

 
}



.img__thumb {

  animation: fade 0.5s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  opacity: 1;
  z-index: 1;
}

.prev,
.next {
  z-index: 0;
}


