.section{
  padding: 104px 0;

  @include breakpoint($mobile-bp){
    padding: 16px 0;
   }

  &--grey{
    background: $lightgrey;
  }

  &--mobile-section{

    @include breakpoint($mobile-bp){
      padding: 16px 0 32px;
     }

  }

  &--mobile32{

    @include breakpoint($mobile-bp){
      padding: 32px 0;
     }
  }
}

.section__button{
  display: flex;
  justify-content: center;
}