<footer>

<div class="container">
  <div class="footer__content">
    <div class="footer__left">
      <div class="logo__footer">
        <a href="/">
          <img src="assets/images/Logo_white.svg" alt="">
        </a>
      </div>
      <nav class="footer__menu">
        <ul>
          <li><a href="#products">Продукция</a></li>
          <li><a href="#matherials">Материалы</a></li>
          <li><a href="#steps">Этапы работы</a></li>
          <li><a href="#about">О нас</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>

    <div class="social">
      <a href="#">
        <img src="assets/images/Vkontakte.svg" alt="">
      </a>
      <a href="#">
        <img src="assets/images/Telagram.svg" alt="">
      </a>
    </div>
  </div>

  <div class="footer__copy">
    <div class="copy__left">
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Лицензии</a>
    </div>
    <div class="copy__right">
      <p>	&copy; 2023 Alex-Style. All right reserved.</p>
    </div>
  </div>
</div>

<button class="button-top" id="back-to-top">
  
</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js"></script>

</footer>
