<div class="banner">

 <div class="container">
  <header>
    <div class="site__header">
      <div class="logo">
        <img class="logo" src="/assets/images/Logo.svg" alt="Alex-Style">
      </div>
      <div class="menu">
        <nav class="nav">
          <ul>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Материалы</a></li>
            <li><a href="#">Этапы работы</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
        <div class="callback">
          <a class="call__tel" href="tel:996556000000">+996 556 000 000</a>
        </div>
      </div>
    </div>
    
    <div class="layers">
      <div class="layer__header">
        <div class="layers__caption">
          <h1>
            Швейное производство </br>Alex-Style 
          </h1>
          <button class="button__white">
            <a href="#" class="">Оформить заявку</a>
          </button>
        </div>

      </div>
    </div>
  </header>
 </div>

 <div class="layer__img">
  <img class="machine" src="/assets/images/parallax/Sewing-machine (1).png" alt="">
  <img class="thread" src="/assets/images/Threads.png" alt="">
</div>
</div>