<div class="banner">

 <div class="container">
  <header>
    <div class="site__header">
      <div class="logo">
        <a href="/"><img class="logo" src="/assets/images/Logo.svg" alt="Alex-Style"></a>
      </div>
      <div class="menu">
        <nav class="nav">
          <ul>
            <li><a href="#products">Продукция</a></li>
            <li><a href="#matherials">Материалы</a></li>
            <li><a href="#steps">Этапы работы</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#contacts">Контакты</a></li>
          </ul>
        </nav>
        <div class="callback">
          <a class="call__tel" href="tel:996555023483">+996 (555) 023-483</a>
        </div>
      </div>

 

      <div class="header__nav">

        <div class="menu-btn">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <nav class="mobile__nav">
          <ul class="nav__list">
            <li><a href="#products">Продукция</a></li>
            <li><a href="#matherials">Материалы</a></li>
            <li><a href="#steps">Этапы работы</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#contacts">Контакты</a></li>


            <div class="callback__mobile">
              <a class="call__tel__mobile" href="tel:996555023483">+996 (555) 023-483</a>
            </div>
          </ul>

          
        </nav>
      </div>
    </div>
    
    <div class="layers">
      <div class="layer__header">
        <div class="layers__caption">
          <h1>
            Швейное производство </br>Alex-Style 
          </h1>
          <button class="button__white">
            <a href="#cta__footer" class="">Оформить заявку</a>
          </button>
        </div>

      </div>
    </div>
  </header>
 </div>

 <div class="layer__img">
  <div class="machine"></div>
  <div class="gradient"></div> <!-- Дополнительный элемент для градиента -->

  <img class="thread" src="/assets/images/parallax/Threads.png" alt="">

</div>
</div>